.search-section {
  width: 100%;
  min-height: 90vh;
  padding-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.search-section h1 {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 120px;
}

.search-section h1 span {
  display: inline-block;
}

.search-section h1 .blue {
  color: #4285f4;
}

.search-section h1 .red {
  color: #ea4335;
}

.search-section h1 .yellow {
  color: #fbbc05;
}

.search-section h1 .green {
  color: #34a853;
}

.search-section .search-part {
  width: 60%;
  border-radius: 50px;
  height: 65px;
  padding-inline: 15px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  box-shadow: 0 1px 6px 0 #20212447;
}

.search-section .search-part input {
  width: 90%;
  height: 100%;
  border: none;
  font-size: 20px;
}
.search-section .search-part input:focus {
  border: none;
  outline: none;
}
